<p>Title: <%= @exhibit.title() %></p>
<p>Exhibit Date: <%= @exhibit.exhibit_date() %></p>
<p>Category: <%= @exhibit.category() %></p>
<p>Artist ID: <%= @exhibit.artist_id() %></p>


<form method="get" action="/exhibits/<%=@exhibit.id%>/edit">
<input type='submit' value="Edit Exhibit"/>
</form>

<form method="post" action="/exhibits/<%=@exhibit.id%>/delete">
<input type='submit' value="Delete Exhibit"/>
</form>
